@import 'variables';

nav {
    display: block;
    position: sticky;
    top: 0;
    padding: 1em;
    & a {
        color: $white;
    }
}

#logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3em;
    & span {
        font-size: .9em;
    }
}

.icon {
    float: right;
}

#nav-links {
    display: none;
    width: 100%;
    & li {
        display: block;
        font-weight: 300;
        font-size: 14px;
        padding-top: 1em;
        & a {
            color: $white;
            &:hover {
                color: $lightGreen;
            }
        }
    }
}

i {
    color: $white;
    font-size: 1.5rem;
}

.scrolled {
    color: $white;
    background-color: $green;
}
