// Color palette 
$veryDarkGreen : #001205;
$darkGreen : #1d3110;
$green : #6c7904;
$lightGreen: #cbc085;
$paleGreen : #d5e5d7;
$white : #f9fff7;

// Font sizes: 12, 14, 16px
// Font weights: 300, 500, 900