@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
nav {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1em;
  z-index: 1;
}

nav a {
  color: #f9fff7;
}

#logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.3em;
}

#logo span {
  font-size: .9em;
}

.icon {
  float: right;
}

#nav-links {
  display: block;
  width: 100%;
  left: 0;
  padding: 1em;
  position: absolute;
  background-color: #6c7904;
  z-index: -1;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

#nav-links li {
  display: block;
  font-weight: 300;
  font-size: 14px;
  padding-top: 1em;
}

#nav-links li a {
  color: #f9fff7;
}

#nav-links li a:hover {
  color: #cbc085;
}

i {
  color: #f9fff7;
  font-size: 1.5rem;
}

.nav-visible {
  color: #f9fff7;
  background-color: #6c7904;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 34px;
  font-weight: 500;
  color: #f9fff7;
}

@media (min-width: 1024px) {
  header h1 {
    font-size: 44px;
  }
}

header #tagline {
  margin-bottom: 1em;
  line-height: 1.25em;
  color: #f9fff7;
  font-weight: 300;
  font-size: 16px;
}

header #tagline span {
  display: block;
  padding: 2rem;
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  text-align: center;
  color: #f9fff7;
}

@media (min-width: 1024px) {
  header #tagline span {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 100px;
    padding: 4rem;
  }
}

@media (min-width: 1024px) {
  header {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

/*
@mixin flexCenter($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

header {

    @include flexCenter(column, red);

    background: lightblue;
    button {
        background: $primaryBtn;
        &:hover {
            background: red;
        }
    }
}
*/
.registration-login-form {
  background-color: #f9fff7;
  border-radius: 5px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .registration-login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.form-tabs {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .form-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .form-tabs #rotate {
    display: block;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.tab-links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 6em;
  background-color: #ebf3ec;
  color: rgba(29, 49, 16, 0.3);
  font-weight: 900;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 300;
  font-size: 12px;
}

.content input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3em;
  border-radius: 5px;
  border: 1px solid #d5e5d7;
  background-color: #f9fff7;
  padding-left: 1em;
  -webkit-transition: border 0.25s;
  transition: border 0.25s;
}

.content input:focus {
  border: 1px solid #6c7904;
}

.content label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.content label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content a {
  padding-left: 3px;
  color: #6c7904;
}

.content #forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .formBtn {
  background-color: #6c7904;
  color: #f9fff7;
  font-size: 16px;
  font-weight: 900;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.content .formBtn:hover {
  background-color: #829205;
}

input[type='checkbox'] {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-right: 0.5em;
}

.active {
  display: block;
  background-color: #f9fff7;
  color: #1d3110;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#login {
  display: none;
}

#toReg {
  color: #6c7904;
}

.hide {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../assets/background1.jpg);
  background-position: 25%;
  background-size: contain 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #6c7904;
  color: #1d3110;
  font-family: 'Roboto', sans-serif;
}

button {
  border: 1px solid #d5e5d7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

@media (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    padding: 5em;
  }
}
/*# sourceMappingURL=style.css.map */